a {
  text-decoration: none;
}


h1 {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
  padding-left: 50px;

  opacity: 1;

}


h3 {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 20px;
  margin-top: 0px;
  line-height: 40px;
  padding-top: 180px;

  

  h3:hover{opacity: 1}

}
h2:hover{
  font-size: 22px;
}
h2:hover{opacity: 1}

h2 {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 20px;
  line-height: 40px;
  padding-left:65px;
  padding-top: 20px;
  -webkit-transition: font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.1s;
  opacity: 0.6;
  transition: 0.1s;
}

body, html {
  height: 100%;
  margin: 0px;
}

.bg {
  /* The image used */
  background-image: url("NEW-2.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;

          z-index: -1000000000;
}

body {
  background-color: black;
}


    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
